.product {
  @include container();
    margin-bottom: 30px;
  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.product__card-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}
.product__card-img-wrapper {
  font-size: 0;
  line-height: 0;
}
.catalog-title-wrapper {
  background-color: #f1f1f1;
  min-height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media (max-width: $mobile-width-only) {
    margin-right: -30px;
    margin-left: -30px;
  }
}
.catalog-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}
.product__card-txt-wrapper {
  padding: 28px;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.product__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  color: #000000;
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.product__specifications {
  font-size: 13px;
  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}
.product__cost {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
.product__card-text {
  padding-bottom: 30px;

}
.product__card {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;

  &:last-child {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 0;
    }
  }
  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 30%
  }

  &:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 1, 1, 0.10);
  }
  &:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 1, 1, 0.05);
  }
}
.poduct__cost-wrapper {
  padding-top: 28px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
