.advantages {
  @include container();
  margin-bottom: 60px;
  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}
.advantages__title {
  @include main-title-style();
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

}
.advantages-item__descr {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}
.advantages__items {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
  margin-bottom: 35px;
  @media (min-width: $tablet-width) {

    width: 50%;
    max-width: 50%;
    min-height: 95px;
    margin-bottom: 50px;
  }
}
